{% include base_path %}
<aside class="identity">
  <div class="avatar">
    <img src="{{ base_path }}/images/{{ site.author.avatar }}" alt="{{ site.author.name }}">
  </div>
  <h1 class="name">{{ site.author.name }}</h1>
  <ul class="social social-icons">
    {% if site.author.location %}
    <li class="author__desktop"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ site.author.location }}</li>
    {% endif %}
    {% if site.author.email %}
    <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
    {% endif %}
    {% if site.author.googlescholar %}
    <li><a href="{{ site.author.googlescholar }}"><i class="ai ai-google-scholar icon-pad-right"></i>Google Scholar</a></li>
    {% endif %}
    {% if site.author.github %}
    <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>Github</a></li>
    {% endif %}
    {% if site.author.twitter %}
    <li><a href="https://twitter.com/{{ site.author.twitter }}"><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X (formerly Twitter)</a></li>
    {% endif %}
  </ul>
</aside>
